<h2>Edit genre:</h2>

<form class="" action="/genres/<%= @genre.id %>" method="POST">
  <ul style="list-style: none;">
    <li>
      <label for="name-input">Genre: </label>
      <input id="name-input"
      type="text"
      name="name"
      value="<%= @genre.name %>">
    </li>
    <li>
      <input type="submit" value="Edit genre">
    </li>
  </ul>

</form>
