<h2>Find Album by Genre</h2>
<br>
<p><a href="/genres/new">Add new genre</a></p>
<br>

<% @genres.each do |genre| %>
  <p><a href="/genres/<%= genre.id %>"><%= genre.name %></a></p>
<% end  %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% @genres.each do |genre| %>
  <tr>
    <td><a href="/genres/<%= genre.id %>"><%= genre.name %></a></td>
  <% end %>
</tbody>
</table> -->
