<h2>Add artist:</h2>

<form class="" action="/genres" method="POST">

  <label for="name-input">Genre: </label>
  <input id="name-input"
  type="text"
  name="name"
  required="required"
  placeholder="Type genre name here">

  <input type="submit" value="Add genre">

</form>
