<h2>Add supplier:</h2>

<form class="" action="/suppliers" method="POST">

  <fieldset>
    <legend>Supplier Information</legend>
    <br>
    <ul style="list-style: none;">

      <li>
        <label for="company-input">Company: </label>
        <input id="company-input"
        type="text"
        name="company"
        required="required"
        placeholder="Input company name">
      </li>

      <li>
        <label for="address-input">Address: </label>
        <input id="address-input"
        type="text"
        name="address"
        placeholder="Input address">
      </li>

      <li>
        <label for="postcode-input">Postcode: </label>
        <input id="postcode-input"
        type="text"
        name="postcode"
        placeholder="Input postcode">
      </li>

      <li>
        <label for="phone-input">Phone: </label>
        <input id="phone-input"
        type="tel"
        name="phone"
        placeholder="Input phone number">
      </li>

      <li>
        <label for="email-input">Email: </label>
        <input id="email-input"
        type="email"
        name="email"
        placeholder="Input email address">
      </li>

      <li>
        <label for="website-input">Website: </label>
        <input id="website-input"
        type="url"
        name="website"
        placeholder="Input website">
      </li>

      <li>
        <input type="submit" value="Add supplier">
      </li>

    </ul>
  </fieldset>
</form>
