<h2>Order summary</h2>
<p>Order of <%= @new_purchase.quantity %> x "<%= @new_purchase.stock.album.title %>" (<%= @new_purchase.stock.album.artist.name %>) has been sent to supplier<%= " " + @new_purchase.stock.supplier.company if @new_purchase.stock.supplier_id %>.</p>
<br>
<p><a href="/purchases">View purchase history</a></p>
