<h2>New Purchase:</h2>
<br>

<form class="" action="/purchases" method="post">

  <fieldset>
    <legend>Purchase Information</legend>
    <ul style="list-style: none;">
      <br>
      <li>
        <label for="stock-input">Album: </label>
        <select id="stock-input" name="stock_id">
          <% @stocks.each do |stock|  %>
          <option value="<%= stock.id %>" <%= "selected" if stock.id == @requested_stock_id %>>
            <%= stock.album.title %> (<%= stock.album.artist.name %>)</option>
            <% end %>
          </select>
        </li>

        <li>
          <label for="quantity-input">Quantity: </label>
          <input id="quantity-input"
          type="number"
          name="quantity"
          min="0"
          required="required"
          placeholder="Input Quantity">
        </li>

        <!-- <li>
        <label for="supplier-input">Supplier: </label>
        <input id="supplier-input"
        type="text"
        name="supplier"
        required="required"
        placeholder="Input Supplier">
      </li> -->

      <li>
        <input type="submit" value="Create Order">
      </li>
    </ul>
  </fieldset>

</form>
