<h2>Dashboard</h2>
<p style="text-decoration: underline;"><a href="/stock/new">Create new Stock</a></p>
<p style="text-decoration: underline;"><a href="/albums/new">Create new Supplier</p>
<p style="text-decoration: underline;"><a href="/artists/new">Create new Purchase</p>
