<h2>Dashboard</h2>
<p style="text-decoration: underline;"><a href="/stock">View Stock</a></p>
<p style="text-decoration: underline;"><a href="/albums">View Albums</p>
<p style="text-decoration: underline;"><a href="/artists">View Artists</p>
