<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Record Store Inventory</title>
  </head>
  <body>
    <header>
      <h1>Record Store Inventory</h1>
      <nav>
        <ul>
          <li><a href="/stock">View All Stock</a></li>
          <li><a href="/stock/new">Add to Stock</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
