<h2>Stock</h2>
<!--  search stock by album -->
<!--  search stock by genre -->
<!--  search stock by artist -->

<table>
  <tr>
    <th>Album</th>
    <th>Genre</th>
    <th>Artist</th>
    <th>Quantity in stock</th>
  </tr>
<% @stocks.each do |stock| %>
<tr>
  <td><%= stock.album.title %></td>
  <td><%= stock.album.genre.name %></td>
  <td><%= stock.album.artist.name %></td>
  <td><%= stock.quantity %></td>
<% end %>
</table>
