<h2>Add to stock:</h2>

<form class="" action="/stock" method="POST">

  <label for="album-input">Album: </label>
  <select id="album-input" name="album_id">
    <% @albums.each do |album|  %>
    <option value="<%= album.id %>"><%= album.title %></option>
    <% end %>
  </select>

  <label for="quantity-input">Quantity: </label>
  <input id="quantity-input"
  type="number"
  name="quantity"
  min="1"
  placeholder="Input Quantity">

  <input type="submit" value="Add to stock">

</form>

  <br>

<p><a href="/albums/new">Add new album</a></p>
