<h2>Add to stock:</h2>

<form class="" action="/stock" method="POST">

  <label for="album-input">Album: </label>
  <select id="album-input" name="album_id">
    <% @albums.each do |album|  %>
    <option value="<%= album.id %>"><%= album.title %></option>
    <% end %>
  </select>

  <br>

  <label for="quantity-input">Quantity: </label>
  <input id="quantity-input"
  type="number"
  name="quantity"
  min="0"
  placeholder="Input Quantity">

  <br>

  <label for="buy-price-input">Buy price: </label>
  <input id="buy-price-input"
  type="number"
  name="buy_price"
  min="1"
  placeholder="Input buy price">

  <br>

  <label for="sell-price-input">Sell price: </label>
  <input id="sell-price-input"
  type="number"
  name="sell_price"
  min="1"
  placeholder="Input sell price">

  <br>

  <label for="low-stock-input">Set low stock level: </label>
  <input id="low-stock-input"
  type="number"
  name="low_stock_level"
  min="1"
  placeholder="Type low stock level quantity">

  <br>

  <label for="high-stock-input">Set high stock level: </label>
  <input id="high-stock-input"
  type="number"
  name="high_stock_level"
  min="1"
  placeholder="Type high stock level quantity">

  <br>

  <input type="submit" value="Add to stock">

</form>

  <br>

<p>Album not in the list? <a href="/albums/new">Add new album</a></p>
