<p>Album title: <%= @stock_item.album.title %></p>
<p>Album genre: <%= @stock_item.album.genre.name %></p>
<p>Artist: <%= @stock_item.album.artist.name %></p>
<p>Quantity in stock: <%= @stock_item.quantity %></p>
