input {
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 50px;
}

input[type=text] {
  width: 44%;
}

select {
    padding: 5px 10px;
    margin: 5px 0;
    /* background-color: #a89055; */
    color: white;
}

label {
  float: left;
  width: 10em;
  margin-right: 1em;
}

fieldset li {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

ul {
  list-style: none;
}
