<h2>Add album:</h2>

<form class="" action="/albums" method="POST">

  <label for="title-input">Album title: </label>
  <input id="title-input"
  type="text"
  name="title"
  placeholder="Add title">

  <label for="artist-input">Artist: </label>
  <select id="artist-input" name="artist_id">
    <% @artists.each do |artist|  %>
    <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>

  <label for="genre-input">Genre: </label>
  <select id="genre-input" name="genre_id">
    <% @genres.each do |genre|  %>
    <option value="<%= genre.id %>"><%= genre.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Add album">

</form>

  <br>

<form class="" action="/artists/new" method="post">
  <input type="submit" value="Add new artist">
</form>

<form class="" action="/genres/new" method="post">
  <input type="submit" value="Add new genre">
</form>
