<h2>Artists</h2>

<p><a href="/artists/new">Add new artist</a></p>


<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <% @artists.each do |artist| %>
  <tr>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td><%= artist.type %></td>
    <% end %>
  </tbody>
</table>
