<h2>Add artist:</h2>

<form class="" action="/artists" method="POST">
  <fieldset>
    <br>
    <legend>Artist Information</legend>
    <ul style="list-style: none;">
      <li>
        <label for="name-input">Artist name: </label>
        <input id="name-input"
        type="text"
        name="name"
        required="required"
        placeholder="Add name">
      </li>

      <li>
        <label for="type-input">Type: </label>
        <select id="type-input" name="type">
          <option value="Band">Band</option>
          <option value="Solo">Solo</option>
          <option value="Group">Group</option>
          <option value="Other">Other</option>
        </select>
      </li>
      <li>
        <input type="submit" value="Add artist">
      </li>
    </ul>

  </fieldset>

</form>
